* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
nav {
  background: #020617;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1e293b;
}

nav h2 {
  color: #22c55e;
}

.links a {
  color: #cbd5f5;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  color: #22c55e;
}

/* MAIN */
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #1e293b;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 380px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.card h1 {
  margin-bottom: 15px;
}

.subtitle {
  color: #94a3b8;
  font-size: 14px;
  margin-bottom: 20px;
}

input {
  margin-bottom: 20px;
  color: white;
}

button {
  background: #22c55e;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

button:hover {
  background: #16a34a;
}

/* RESULT */
.result h3 {
  margin-top: 20px;
}

.score-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #22c55e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: 20px auto;
  font-weight: bold;
}

.skills {
  list-style: none;
  margin-top: 15px;
}

.skills li {
  background: #334155;
  margin: 6px 0;
  padding: 8px;
  border-radius: 6px;
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #22c55e;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #020617;
  font-size: 13px;
  color: #64748b;
}
