:root {
  --bg:#0f172a;
  --card:#1e293b;
  --text:#ffffff;
  --nav:#020617;
}

body.light {
  --bg:#f1f5f9;
  --card:#ffffff;
  --text:#0f172a;
}

body {
  background:var(--bg);
  color:var(--text);
  font-family:Segoe UI,sans-serif;
}

nav {
  background:var(--nav);
  padding:15px;
  display:flex;
  justify-content:space-between;
}

.links a {
  color:#22c55e;
  margin-left:12px;
  text-decoration:none;
}

.container {
  display:flex;
  justify-content:center;
  margin-top:40px;
}

.card {
  background:var(--card);
  padding:30px;
  border-radius:12px;
  width:350px;
  text-align:center;
}

button {
  background:#22c55e;
  border:none;
  padding:10px 18px;
  border-radius:6px;
  cursor:pointer;
  color:white;
}

.theme-btn {
  margin-left:10px;
}

.back-btn {
  display:block;
  margin-top:20px;
  color:#22c55e;
  text-decoration:none;
}

footer {
  text-align:center;
  margin-top:40px;
}
